@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("https: //fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.section-heading {
  @apply text-2xl md:text-3xl lg:text-5xl font-bold text-gray-800;
}

.sub-title {
  @apply text-main text-sm md:text-base font-bold uppercase mb-2 md:mb-4;
}

.circle {
  width: 400px;
  height: 400;
  background: linear-gradient(to bottom,
      rgb(228, 139, 139) 70%,
      rgb(131, 131, 201) 30%);
  filter: blur(150px);
}

.skill-bar {
  animation: barwidth 2.3s 1;
}

@keyframes barwidth {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}